
.footer_area {
    background-color: #fff;
    text-align: center;
    font-size: 21px;
    padding: 22px 0;
  }

  
.footer_about {
  float: left;
  text-align: center;
  width: 294px;
}
.footer_about h4, .quick_link h4, .footer_tagcloud h4 {
  font-size: 24px;
  text-transform: capitalize;
  padding: 15px;
}
.footer_about p {
  font-size: 15px;
}

.footer_about .address {
  margin-top: 17px;
  line-height: 31px;
  font-size: 15px;
}







.quick_link {
  float: left;
  width: 158px;
}
.quick_menu {
  text-align: left;
  text-transform: capitalize;
  margin-left: 38px;
}




.tagcloud_list a {
	font-size: 18px;
	text-transform: capitalize;
	background-color: #ddd;
	border-radius: 17px;
	padding: 8px 17px;
	width: 37px;
}
.tagcloud_list a:hover {
  background-color: tomato;
  color: #fff;
}


.footer_tagcloud {
  float: left;
  width: 461px;
  height: 239px;
  margin-left: 51px;
}
.tagcloud_list {
  line-height: 48px;
}

.footer_copy {
	background-color: gray;
	text-align: center;
	padding: 24px;
	font-size: 15px;
	color: #fff;
}